*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

h1,h3{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em;
    font-weight: 600;
}

.tittle{
    margin-bottom: 10px;
    font-size: 36px;
    margin-top: 30px;
}


body{
    
    color: #777777;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6rem;
    
}


.container{
    width: 85%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    
}

.blog-item{
    width: 400px;
}


.img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 60px;
}



.first{
    padding: 20px 0px;
    text-transform: uppercase;
  font-weight: 600;

}

.about{
    margin-bottom: 1rem;
}


.box{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   
}

.about2{
    padding-left: 20px;
}

.read{
    text-decoration: ;
}


