.container {
    width: 85%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
     
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}


.flex-wrap {
    flex-wrap: wrap;    
}

.justify-content-center {
    justify-content: center;
}
