.body{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    background-color: aliceblue;
    
}

header{
    text-align: center;
    margin-bottom: 55px;

}

.tittle{
font-size: 35px;
line-height: 48px;
color: #1F1F1F;
position: relative;
padding-bottom: 15px;
}

.sub-tittle{
    font-size: 16px;
    font-weight: 300;
    color: #727272;
    line-height: 28px;
}

.single-department{
    background:#fff;
    margin-bottom: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
}

.photo{
    width: 100%;
    vertical-align: middle;
   
}

.dep{
    padding: 22px 30px 24px 30px;
}

.tittle-dep{
    line-height: 33px;
    font-size: 22px;
    color: #1F1F1F;
    font-weight: 500;
}

.about-dep{
    line-height: 28px;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 300;
}

a{
    color: #5DB2FF;
}








